{% extends '/mail/base_email.html' %}


{% block title %} Reset Password {% endblock %}

{% block tr %} Redefinição de Senha {% endblock %}

{% block content %}

  <tr>
    <td style="padding-bottom: 25px">
      Olá,

      Recebemos seu pedido de redefinição de senha de acesso ao Raidstorm.

      Por favor, clique no botão abaixo e siga as instruções para criar uma nova senha:
    </td>
  </tr>

  <tr>
    <td
      style="padding-bottom: 25px; font-size: 14px; line-height: 20px"
    >
      <a
        href="{{ url_reset_password }}/forgot-password?token={{ token }}"
        style="
          text-decoration: none;
          cursor: pointer;
          color: #ffffff;
          padding: 10px;
          background: #ff005c;
          border-radius: 6px;
          width: fit-content;
          margin: 0 auto;
        "
      >
        Criar nova senha
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Importante</strong>: Este link para alteração de senha só poderá ser utilizado uma única vez.
    </td>
  </tr>
{% endblock %}
